<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>detectProvisioningMode</key>
    <true/>
    <key>developmentAppKey</key>
    <string>te-JTfoxRL-LmDGY9avL_A</string>
    <key>developmentAppSecret</key>
    <string>ZidP5bpWRxy5Om3C0JORAQ</string>
    <key>productionAppKey</key>
    <string>DL1r-6wVRsK3EuAtzhCjEA</string>
    <key>productionAppSecret</key>
    <string>OgeUXul0Qu-P2ynN8UBgCA</string>
  </dict>
</plist>
